* {
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
}

body {
    width: 100vw;
    height: 100vh;
    position: absolute;
    font-family: sans-serif;
    background-image: url("../images/watercolor-design-pastel-background_23-2148481366.jpg");
    background-repeat: no-repeat;
}

#main {
    position: absolute;
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0px;
    left: 0px;

}


.innermain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: center;
}

.centerMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: center;
}

.languageBubbles {
    overflow: hidden;
    background-color: transparent;
    width: 60%;
    justify-content: center;
    align-items: center;
}

.languageBubblesElements {
    display: inline-block;
    margin: 10px;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    background-color: pink;
    color: black;
    font-size: 20px;
    font-family: sans-serif;
}

.navbar {
    overflow: hidden;
    flex-direction: row;
    background-color: rgba(68, 64, 64, 0.115);
    border-radius: 0 0 25px 25px;
    width: fit-content;
    justify-content: center;
    display: flex;
    position: sticky;
}

/* Links inside the navbar */
.navbar a {
    font-size: 2.5vw;
    color: rgb(74, 41, 7);
    padding: 20px;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
}

/* Change background on mouse-over */
.navbar a:hover {
    transform: scale(1.2);
}

h1 {
    padding-top: 5%;
    left: 30%;
    color: rgb(74, 41, 7);
    font-size: 100px;
}

.home {
    color: rgb(74, 41, 7);
    font-size: 110px;
    font-weight: bold;
    font-family: sans-serif;
    padding-top: 20vh;
}

.homeUnderText {
    color: rgba(74, 40, 7, 0.509);
    font-size: 70px;
    font-weight: regular;
    font-family: sans-serif;
}

.aboutMe {
    background-color: rgba(242, 219, 201, 0.111);
    color: rgb(74, 41, 7);
    text-align: left;
    width: 55vw;
    padding: 1%;
}

.aboutMeText {
    line-height: 2;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: inline-block;
    padding: 2%;
}

.listenPlaylist {
    color: rgb(74, 41, 7);
    font-family: caveat;
    font-size: 20px;
    transform: rotate(10deg);
    position: absolute;
    left: 5vw;
    top: 25vh;
}

.contactBubble {
    background-color: transparent;
    color: rgb(74, 41, 7);
    position: absolute;
    width: 50%;
    height: 40%;
    float: left;
    top: 290px;
    margin-left: 25%;
    text-align: left;
}

.contactText {
    line-height: 2;
    font-family: sans-serif;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 2%;
    font-weight: bolder;
    font-size: 20px;
    text-decoration: none;
}

.resumetitle {
    top: 25%;
    left: 35%;
    position: absolute;
    color: rgb(74, 41, 7);
    font-size: 100px;
    font-weight: bold;
}

.resumepdf {
    position: sticky;
    width: 20%;
    height: 15%;
    top: 0%;
    right: 0%;
    float: right;
    background-color: white;
    border-radius: 0% 0% 0% 40%;

}

.pdftext {
    margin: 10%;
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    font-size: large;
    text-align: center;
    text-decoration: none;
}

a:link {
    text-decoration: none;
    color: black;
}

.resumeAreaLeft,
.resumeAreaRight {
    background: transparent;
    padding-top: 5%;
    height: 100%;
    width: 43vw;
    position: absolute;
}

.resumeAreaLeft {
    float: left;
    left: 5%;
}

.resumeAreaRight {
    float: right;
    right: 5%;
}

.resumeleft,
.resumeright {
    background-color: rgba(128, 128, 128, 0.099);
    color: rgb(74, 41, 7);
    position: relative;
    width: 100%;
    text-align: left;
    overflow: hidden;
}

.resumeright {
    margin-bottom: 15%;
}

.resumeleft {
    margin-top: 15%;
}

.resumeheader,
.underText {
    margin-top: 3%;
    margin-left: 3%;
    width: 100%;
}

.resumeheader {
    font-weight: bolder;
    font-size: 20px;
    height: 20%;
}

.underText {
    font-weight: bold;
    opacity: 0.8;
    font-size: 15px;
    float: left;
}

.paragraph {
    font-size: 15px;
    padding: 3%;
    overflow: hidden;
}

.paragraph a {
    text-decoration: underline;
    color: rgb(74, 41, 7);
}

.content {
    position: absolute;
    top: 40%;
    width: 2%;
    height: 10%;
}

.playlist {
    position: absolute;
    float: left;
    top: 34vh;
    left: -10px;
}

.content:before,
.content:after {
    content: "";
    width: 15px;
    height: 0;
    left: 49.5vw;
    background: linear-gradient(to right, rgb(74, 41, 7), rgb(74, 41, 7));
    position: absolute;
    animation-fill-mode: forwards;
    top: 0;

}

.content:after {
    top: 100%;
    animation: linedown 3s forwards;
}

@keyframes linedown {
    100% {
        height: 600px;
    }
}

@keyframes plant {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-1deg);
    }


    100% {
        transform: rotate(0deg);
    }
}

@keyframes leaf1 {
    0% {
        transform: translateX(0px) rotate(110deg);
    }

    50% {
        transform: translateX(-3px) rotate(110deg);
    }

    100% {
        transform: translateX(0px) rotate(110deg);
    }
}

@keyframes leaf5 {
    0% {
        transform: translateX(0px) rotate(110deg);
    }

    50% {
        transform: translateX(-9px) rotate(110deg);
    }

    100% {
        transform: translateX(0px) rotate(110deg);
    }
}

@keyframes leaf2 {
    0% {
        transform: translateX(0px) rotate(-20deg);
    }

    50% {
        transform: translateX(-4px) rotate(-20deg);
    }

    100% {
        transform: translateX(0px) rotate(-20deg);
    }
}

@keyframes leaf4 {
    0% {
        transform: translateX(0px) rotate(-20deg);
    }

    50% {
        transform: translateX(-7px) rotate(-20deg);
    }

    100% {
        transform: translateX(0px) rotate(-20deg);
    }
}

@keyframes leaf3 {
    0% {
        transform: translateX(0px) rotate(110deg);
    }

    50% {
        transform: translateX(-6px) rotate(110deg);
    }

    100% {
        transform: translateX(0px) rotate(110deg);
    }
}

.leaf1,
.leaf2,
.leaf3,
.leaf4,
.leaf5 {
    position: absolute;
    background-color: rgb(0, 98, 0);
    height: 5%;
    width: 4%;
    border-radius: 0 75px;
    float: right;

}

.leaf1 {
    animation: leaf1 3.5s ease-in-out forwards infinite;
    transform-origin: 20% 0 0 20%;
    transform: rotate(110deg);
    right: 5.2%;
    top: 80%;
}

.leaf2 {
    animation: leaf2 3.5s ease-in-out forwards infinite;
    transform-origin: 100% 0 0 100%;
    transform: rotate(-20deg);
    right: 10%;
    top: 70%;
}

.leaf3 {
    animation: leaf3 3.5s ease-in-out forwards infinite;
    transform-origin: 100% 0 0 100%;
    transform: rotate(110deg);
    right: 5.2%;
    top: 60%;
}

.leaf4 {
    animation: leaf4 3.5s ease-in-out forwards infinite;
    transform-origin: 100% 0 0 100%;
    transform: rotate(-20deg);
    right: 10%;
    top: 50%;
}

.leaf5 {
    animation: leaf5 3.5s ease-in-out forwards infinite;
    transform-origin: 100% 0 0 100%;
    transform: rotate(110deg);
    right: 5.2%;
    top: 41%;
}

.stem {
    animation: plant 3.5s ease-in-out forwards infinite;
    transform-origin: 0 100%;
    position: absolute;
    background-color: rgb(0, 98, 0);
    height: 500px;
    width: 10px;
    right: 9%;
    top: 45%;
    border-radius: 75px 0;
}