* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    background-color: pink;

}

#main {
    position: absolute;
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0px;
    left: 0px;
}

#canvas {
    display: flex;
    position: relative;
}

.images {
    float: left;
    display: absolute;
    height: 180px;
    width: 180px;
    padding: 10px;
    justify-content: center;
}

.innermain {
    display: table-cell;
    vertical-align: middle;
}


h1 {
    text-align: center;
    color: rgb(74, 41, 7);
    font-size: 110px;
}


.transparent {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    margin-left: 95px;
}